html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
.footer {
  position: absolute;
  width: 1920px;
  height: 7898px;
  left: 0px;
  top: 0px;
  background: url(.png);
}
.page-footer {
  position: absolute;
  width: 1334px;
  height: 320px;
  left: 293px;
  top: 7503px;
}
.red-line {
  position: absolute;
  gap: 22px;
  width: 4px;
  height: 198px;
  left: 4px;
  background: #BC3324;
  transform: rotate(-180deg);
  margin: 0px 0px 0px 0px;
}
.footnote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;
  position: absolute;
  width: 204px;
  height: 198px;
  left: 26px;
  top: 0px;
  margin: 5px 0px 0px 0px;
  opacity: 0px;
}
:hover a {
  text-decoration: none;
}
.footnote__calendar {
  width: 204px;
  height: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1F1E1E;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footnote__event_red {
  width: 192px;
  height: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #A51505;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footnote__rent {
  width: 158px;
  height: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1F1E1E;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.footnote__progects {
  width: 121px;
  height: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1F1E1E;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.footnote__contacts {
  width: 79px;
  height: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1F1E1E;
  flex: none;
  order: 4;
  flex-grow: 0;
}
.gmail {
  position: absolute;
  width: 138px;
  height: 22px;
  left: 0px;
  bottom: 60px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1F1E1E;
}
.rules {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 60px;
  position: absolute;
  width: 384px;
  height: 22px;
  left: 0px;
  bottom: -2px;
}
.rules__politics {
  width: 263px;
  height: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #111111;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.rules__cookies {
  width: 61px;
  height: 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1F1E1E;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.social-media {
  position: absolute;
  left: 44%;
  right: 44%;
  top: 81.88%;
  bottom: 0%;
}
.social-media__insta {
  position: absolute;
  width: 58px;
  height: 58px;
  left: calc(50% - 58px/2 - 51px);
  bottom: 0px;
}
.social-media__vk {
  position: absolute;
  width: 58px;
  height: 58px;
  left: calc(50% - 58px/2 + 51px);
  bottom: 0px;
}
.creation-promotion {
  position: absolute;
  width: 296.16px;
  height: 22px;
  right: 1px;
  bottom: -1px;
}
.creation-promotion__link {
  position: absolute;
  width: 210px;
  height: 22px;
  left: calc(50% - 210px/2 - 27.08px);
  bottom: 1px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #1F1E1E;
}
.creation-promotion__img {
  position: absolute;
  width: 56px;
  height: 17px;
  right: -0.84px;
  bottom: 2px;
  color: #1F1E1E;
}
.search__mail {
  position: absolute;
  width: 410px;
  height: 124px;
  left: 924px;
  top: 0px;
}
.search__mail-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1F1E1E;
  position: relative;
  margin: 0px 0px 14px 6px;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  position: absolute;
  left: 69.27%;
  right: 0%;
  top: 11.25%;
  bottom: 61.25%;
}
.search-form__mail {
  position: absolute;
  height: 49px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #FFFFFF;
}
.search-form__text {
  position: absolute;
  width: 36px;
  height: 19px;
  left: 28px;
  top: 15px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6C6C6C;
}
.search-form__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 23px 15px 30px;
  gap: 10px;
  position: absolute;
  width: 135px;
  height: 49px;
  right: 0px;
  top: 0px;
  background: #1F1E1E;
  color: #FFFFFF;
}
.search-form__subscription {
  width: 89px;
  height: 19px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  line-height: 19.07px;
  gap: 0px;
  opacity: 0px;
  position: relative;
  margin: 15px 23px;
}
.class {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
  width: 400px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: Fixed 400px px;
  height: Hug 24px px;
  opacity: 0px;
  position: relative;
  margin: 64px 386px 0px 0px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.check__box {
  width: 24px;
  height: 24px;
  position: absolute;
  background: #1F1E1E;
  border: 1px solid #1F1E1E;
  box-sizing: border-box;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  padding: 6.91px 4.97px 6.86px 4.98px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.checkbox:checked + .check__box {
  background-image: url(../img/checkbox.jpg);
}
.class__text {
  width: 361px;
  height: 19px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6C6C6C;
  flex: none;
  order: 1;
  flex-grow: 1;
  gap: 0px;
  opacity: 0px;
  position: relative;
  margin: 2.5px 0px 2.5px 39px;
}
